<div class="games-main">
<div class="games-background">
  <div class="games-gradient"></div>
  <div class="content-main">
    <app-slider [slidesStore]="slidesStore" [customOptions]="customOptions"></app-slider>
  </div>
</div>
  <div class="row">
    <div class="col-md-4 all-games-left">
      <div
        class="title"
        *ngFor="let slide of slidesStore; let index = index"
        (click)="choseTitle(index)"
      >
        {{ slide.title }}
      </div>
    </div>
    <div class="col-md-6 all-games-right">
      <div class="pic" *ngFor="let slide of slidesStore; let index = index">
        <ng-container *ngIf="chosenIndex === index">
          <img data-aos="fade-left" [src]="slide.src" alt="" />
          <h3 class="all-games-slider-title" data-aos="fade-left">{{slide.title}}</h3>
          <span class="all-games-slider-description" data-aos="fade-left">{{slide.description }}</span>
        </ng-container>
      </div>
      <ng-container *ngIf="chosenIndex === -1">
        <p class="all-games-text-second">დააჭირეთ სათაურს</p>
      </ng-container>
    </div>
  </div>
</div>
