
.carousel-img{
    width: 140px !important;
    height: 140px !important;
}
.games-main{
    width: 100%;
    height: 200vh;
}
.games-background{
    background-image: url(/assets/img/background.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    position: absolute;
    z-index: -2;
}
.games-gradient{
    background: linear-gradient(180deg, rgba(255,255,255,0.10136554621848737) 0%, rgba(255,255,255,1) 94%);
    position: relative;
    width: 100%;
    height: 70vh;
    z-index: -1;
}

.content-main {
    padding: 350px 20px 0px 85px;
}
.p-t-0 {
    padding-top: 200px !important;
}
.row{
    --bs-gutter-x: 0rem;
}
.all-games-div{
    padding: 200px 20px 0 20px;
}
.all-games-text{
    border-bottom: 1.7px solid black;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(46, 46, 46);
    width: fit-content;
    margin-bottom: 50px;
}
.all-games-left{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 10px;
}
.title{
    color: gray;
    font-size: 18px;
    transition: all 0.4s;
    width: 150px;
}
.title:hover {
    border-bottom: 1px solid yellow;
}
.all-games-right img{
    height: 300px;
}
.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}