<div class="games-main">
  <div class="games-background">
    <div class="popular-games-div">
      <span class="popular-games-text">პოპულარული თამაშები</span>
      <p class="popular-games-border"></p>
    </div>
    <div class="games-gradient"></div>
    <owl-carousel-o class="games-carousel" [options]="customOptions">
      <ng-container
        class="games-carousel-container"
        *ngFor="let slide of slidesStore"
      >
        <ng-template carouselSlide [id]="slide.id">
          <div class="carousel-content">
            <img
              class="carousel-img"
              [src]="slide.src"
              [alt]="slide.alt"
              [title]="slide.title"
            />
            <h3>{{ slide.title }}</h3>
            <span class="games-description">{{ slide.description }}</span>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <!-- <div class="new-games-div">
    <span class="new-games-text">ახალი თამაშები</span>
    <p class="new-games-border"></p>
    <owl-carousel-o class="games-carousel" [options]="customOptions">
      <ng-container
        class="games-carousel-container"
        *ngFor="let slide of slidesStoreSecond"
      >
        <ng-template carouselSlide [id]="slide.id">
          <div class="carousel-content">
            <img
              class="carousel-img"
              [src]="slide.src"
              [alt]="slide.alt"
              [title]="slide.title"
            />
            <h3>{{ slide.title }}</h3>
            <span class="games-description">{{ slide.description }}</span>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div> -->
  <div class="all-games-div">
    <span class="all-games-text">ყველა თამაში</span>
    <p class="all-games-border"></p>
    <div class="row">
      <div class="col-md-4 all-games-left">
        <div
          class="title"
          *ngFor="let slide of slidesStore; let index = index"
          (click)="choseTitle(index)"
        >
          {{ slide.title }}
        </div>
      </div>
      <div class="col-md-6 all-games-right">
        <div class="pic" *ngFor="let slide of slidesStore; let index = index">
          <ng-container *ngIf="chosenIndex === index">
            <img data-aos="fade-left" [src]="slide.src" alt="" />
            <h3>title</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, ducimus!</span>
          </ng-container>
        </div>
        <ng-container *ngIf="chosenIndex === -1">
          დააჭირეთ სათაურს
        </ng-container>
      </div>
    </div>
  </div>
</div>
