.popular-games-text{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.title{
    border-bottom: 1.7px solid black;
    padding-right: 30px;
    width: fit-content;
    margin-bottom: 50px;
}