

.navbar{
    background-color: rgb(42, 58, 74) !important;
    padding: 18px !important;
    box-shadow: 0px 1px 3px 2px #243240;
}
.nav-link{
    color: white !important;
}

.navbar-brand {
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar-brand #logo {
    width: 65px;
}
.navbar-nav{
    justify-content: center !important;
    align-items: center;
    width: 100%;
    gap: 1.8rem;
}
#navbar-logo{
    display: none !important;
}
.logo{
    margin: 0 !important;
}
.responsive-logo{
    display: none;
}

.navbar-nav  li{
    font-size: 1.1rem;
    color: var(--bs-white);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
}

.navbar-nav .nav-link.active{
    color:  var(--bs-orange) !important;
}

.nav-link:hover{
    color:  var(--bs-orange) !important;
}
.container-fluid{
    padding: 0 !important;
}

.navbar-toggler{
    border: 0 !important;
    filter: invert(49%) sepia(90%) saturate(1739%) hue-rotate(352deg) brightness(107%) contrast(98%);
}

.main-div{
    display: flex;
    width: 100%;
    height: 88.6vh;
}
.left-div{
    background: linear-gradient(44deg, #000 12%, #0023FF 100%);
    width: 50%;
}
.nav-item-second{
    visibility: hidden;
}
.right-div{
    background-color: transparent;
    width: 50%;
}
@media only screen and (max-width: 991px) {


    #logo{
        display: none;  
    }

    .logo {
        display: none;
    }
    .responsive-logo{
        display: flex;
    }
    .navbar-brand{
        padding: 0;
    }
    #navbar-logo{
        display: flex !important;
        width: 65px;
    }

    
    .container-fluid{
        display: flex;
        justify-content:  space-between;
    }

    .disabled {
        display: none;
    }
}